In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('dataset/college_data.csv')
df.describe()

/var/folders/45/xrxp1w5d28gfw_8gw1_nzk8w0000gn/T/ipykernel_88994/2627796030.py:1: DtypeWarning: Columns (10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('dataset/college_data.csv')

,UNITID,LOCALE,LATITUDE,LONGITUDE,ADM_RATE_ALL,PPTUG_EF,SAT_AVG_ALL,COSTT4_A,TUITIONFEE_IN,TUITIONFEE_OUT,...,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,year
count,5.812300e+04,4110.000000,4110.000000,4110.000000,58123.000000,55491.000000,32424.000000,27970.000000,48634.000000,47855.000000,...,34930.000000,34930.000000,34930.000000,34930.000000,34930.000000,34930.000000,34930.000000,55613.000000,55613.000000,58123.000000
mean,9.344027e+05,19.850122,38.128463,-87.463017,0.698748,0.157509,1081.105848,32226.180050,17326.286836,19962.788737,...,0.505761,0.128000,0.113778,0.034668,0.006990,0.003314,0.023997,0.027307,0.054111,2010.749755
std,4.143870e+06,9.491830,5.654605,16.886849,0.211229,0.186372,133.742429,14743.123314,12077.494504,11150.330149,...,0.305167,0.182804,0.178621,0.060486,0.033861,0.027959,0.028004,0.059709,0.106795,6.250741
min,1.006540e+05,-3.000000,6.909759,-158.056403,0.014241,0.000000,514.000000,3655.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2001.000000
25%,1.632860e+05,12.000000,34.935521,-94.299077,0.569700,0.015100,991.000000,20760.500000,8000.000000,12060.000000,...,0.262325,0.021500,0.019000,0.003300,0.000000,0.000000,0.000000,0.000000,0.001200,2005.000000
50%,2.032340e+05,21.000000,39.908070,-83.715417,0.725900,0.094100,1066.000000,28533.500000,14196.000000,17652.000000,...,0.583150,0.062500,0.056000,0.014900,0.002300,0.000500,0.019500,0.008900,0.021300,2010.000000
75%,2.434430e+05,23.000000,41.718277,-76.155959,0.855000,0.229400,1152.000000,41699.750000,23950.000000,25891.000000,...,0.754300,0.150900,0.124400,0.037600,0.005400,0.001900,0.035800,0.030600,0.060800,2016.000000
max,4.957672e+07,43.000000,64.857560,158.158189,1.000000,1.000000,1599.000000,81531.000000,66064.000000,66064.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.999500,0.819700,1.000000,1.000000,2022.000000